{% extends 'base.html' %}
{% block title %}Books of {{ user.name }}{% endblock %}
{% block content %}
<h2>Books of {{ user.name }}</h2>
<table border="1" cellpadding="5">
    
    <tr><th>ID</th><th>Title</th><th>Actions</th></tr>
    {% for book in user.books %}
    <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>
            <a href="/update_book/{{ book.id }}">Edit</a>
            <a href="/delete_book/{{ book.id }}" onclick="return confirm('Delete this book?')">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}